@font-face
{
font-family: custom;
src: url(font/fanwood.woff);
}

html, body, .container {height: 100%; }
body {background: #000; font-family:'Arial'; font-size: 12px;}


#main {padding:0;max-width: 29em;}

.row {margin:0;}

.col-xs-6, .col-xs-12 {margin:0; padding:0; position: relative;}

#page {max-height: 98%; overflow: auto; 
 cursor:default; position:absolute;
 bottom:0; margin-bottom: 20px;
 }

.page.row {
 height:79%;position:relative;
 background: #ccc;}

img{
 width:100%;
 padding-left: 3`0%;
 opacity:0.4;
}
img:last-child{
 opacity: 1;
}

pre {text-indent: 1em;font-family:'Arial'; font-size: 12px;
margin: 0; padding-left:2em; padding-right:2em;border: 0; padding-top:0;padding-bottom:0.5em;
background-color: #ccc;
word-break: normal;
color:#000;
opacity: 0.7;
}

pre:last-child {color:#000; opacity: 1;background-color:#ccc;}

pre.inter {text-align: center;}

pre.inter.title{
 margin: 2em;
  margin-bottom: 3em;
  font-size: 14px; 
 }

.menu.row {
 height: 20%;
 border-bottom-color:#111;
 overflow:auto;
 background-color: #222;
 padding-top: 1px;
 margin-top: 1px;
 margin-left: 2%;
 margin-right:2%;}

.button {
 margin-bottom: 1px; margin-top: 0px; 
 margin-left:0px;margin-right: 0px; 
 border: 0px; padding: 2px;
 background: #333; color: #ccc; 
 cursor:default;}

.button.selected {
 background-color:#666; 
 position:relative;}

.button:hover {background-color: #666;}

.button:last-child {border-bottom: 0px solid #444} 

.button.left {text-align: right; border-left:2px solid #444;}
.button.left:hover {border-left-color:#555 }

.button.right{text-align: left; border-right: 2px solid #444}
.button.right:hover {border-right-color:#555}

.noselect {-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
